.grafico{
    width: 1000px;

}
.divGrafico{
flex-direction: column;
display: flex;
align-items: center;
}
.labelChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
  padding-left: 2%;
  width: fit-content;

}
.divVotacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* aplicar estilo a um componente pelo id */
/* #id_componente */