.grafico{
    width: 50%;

}
.divGrafico{
flex-direction: row;
display: flex;
align-items: center;
border: 1.5px solid #BB9549;


}
.labelChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    padding: 2%;

}