body{
  background: linear-gradient(#d3dcff,#e1e6f9);
}

/* faz com que a ancoragem seja mais lenta */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.conteiner {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.conteiner_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 100px;
  background-color: transparent;
  border-bottom: 3px solid #BB9549;
  display: flex;
  align-items: center;

}

.titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-decoration: none;
}

.ul {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #e3b062;
  align-items: center;
  text-decoration: none;
  width: 100%;
  font-size: 20px;

}

.ul ul {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.btn-login {
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px black solid;
}

a {
  text-decoration: none;
  color: #000000;
}

.img1 {
  margin-top: 1%;
  justify-self: flex-start;
  width: 350px;
  height: 200px;
  border: #000000 1px solid;
  border-radius: 44px;
}

.img2 {
  width: 200px;
  border-radius: 20px;
  opacity: 0.8;
}

.sectionPar {
  display: flex;
  padding: 5px;
}

.sectionImpar {
  display: flex;
  padding: 5px;
}

.textosGrandes {
  padding-left: 10%;
  padding-right: 10%;
font-size: 18px;
font-family:Arial, Helvetica, sans-serif;
}

.textosMedios{
  font-size: 18px;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  padding: 5%;
  

}
.btn-ganharMais{
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px white solid;
  cursor: pointer;
  background-color: #9490e7;
  border: none;
}

.btn-ganharMais:hover{
  transition: .3s;
  transform: scale(1.02);
}

p {
  padding: 5%;
  text-align: center;
  font-size: 25px;
}

.investimentos {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #e3b062;
  height: auto;
  width: 440px;
  justify-content: center;
}

.formulario {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: #BB9549 2px solid;
  border-radius: 44px;
  background-color: #D9D9D9;

}

.artigo {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #BB9549 0.1px solid;
  border-radius: 4px;
}
.sectionSlides{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tituloSlides{
  padding-top: 10%;
  font-size: 35px;
  padding-left: 40%;
}
.tituloSlides span{
  padding: 10%;
  font-size: 20px;
}
 .slides{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  
}
.slides img{
  height: 260px;
  width: 260px;
  border-radius: 160px;
  border: 1px #000 solid;
}
.slides figcaption{
  padding: 2%;
  font-size: 18px;
}


/* form login  */
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 09), 0 4px 6px -2px rgba(0, 0, 0, 05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #BB9549;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

select {
  border: #BB9549 solid 1px;
  border-radius: 0.5rem;
  padding: 2px;
  width: 365px;

}

select {
  font-size: 0.875rem;
  color: #6B7280;
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}



/*modal winy*/
/* .box {

  display: none;
  position: fixed;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  border: #000 1px dashed;
  border-radius: 50px;
} */

/* meu modal */
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4F46E5;
}
.modal .content{
  background-color: #6B7280;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* carrossel */
.slider{
  margin: 0 auto;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.slides{
width: 400px;
height: 400px;
display: flex;
}

.slides input{
  display: none;

}
.slide{
  width: 25%;
  position: relative;
}
.slide img{
  width: 600px;
}
.manual-navigation{
  position:absolute;
  width: 880px;
  margin-top: -40;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #ffff;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  background-color: #ffff;
}